test-fuse-architecture/src/main/resources/wsdl/GerenciarContratosService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://portoconecta.com.br/services/GerenciarContratos/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GerenciarContratos"
	targetNamespace="http://portoconecta.com.br/services/GerenciarContratos/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://portoconecta.com.br/services/GerenciarContratos/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:client="http://portoconecta.com.br/services/GerenciarContratos"
			targetNamespace="http://portoconecta.com.br/services/GerenciarContratos/">

			<xsd:import namespace="http://portoconecta.com.br/services/GerenciarContratos"
				schemaLocation="http://frameworkh.portoseguroconecta.com.br/GerenciarContratosService?xsd=GerenciarContratos.xsd">
			</xsd:import>


			<xsd:element name="ObterHistoricoDeUsoRequest" type="client:ObterHistoricoDeUsoRequest" />

			<xsd:element name="ObterHistoricoDeUsoResponse" type="client:ObterHistoricoDeUsoResponse" />

			<xsd:element name="ObterHistoricoDeBloqueiosRequest"
				type="client:ObterHistoricoDeBloqueiosRequest" />

			<xsd:element name="ObterHistoricoDeBloqueiosResponse"
				type="client:ObterHistoricoDeBloqueiosResponse" />

			<xsd:element name="DesbloquearContratoRequest" type="client:DesbloquearContratoRequest" />

			<xsd:element name="DesbloquearContratoResponse" type="client:DesbloquearContratoResponse" />

			<xsd:element name="ReativarContratoRequest" type="client:ReativarContratoRequest" />

			<xsd:element name="ReativarContratoResponse" type="client:ReativarContratoResponse" />

			<xsd:element name="SuspenderContratoRequest" type="client:SuspenderContratoRequest" />

			<xsd:element name="SuspenderContratoResponse" type="client:SuspenderContratoResponse" />

			<xsd:element name="AutorizarSuspensaoTemporariaRequest"
				type="client:AutorizarSuspensaoTemporariaRequest" />

			<xsd:element name="AutorizarSuspensaoTemporariaResponse"
				type="client:AutorizarSuspensaoTemporariaResponse" />

			<xsd:element name="CancelarContratoRequest" type="client:CancelarContratoRequest" />

			<xsd:element name="CancelarContratoResponse" type="client:CancelarContratoResponse" />

			<xsd:element name="ObterLinhasTempSuspensasRequest"
				type="client:ObterLinhasTempSuspensasRequest" />

			<xsd:element name="ObterLinhasTempSuspensasResponse"
				type="client:ObterLinhasTempSuspensasResponse" />

			<xsd:element name="ObterLinhasRequest" type="client:ObterLinhasRequest" />

			<xsd:element name="ObterLinhasResponse" type="client:ObterLinhasResponse" />

			<xsd:element name="ObterHistoricoDeOcorrenciasRequest"
				type="client:ObterHistoricoDeOcorrenciasRequest" />

			<xsd:element name="ObterHistoricoDeOcorrenciasResponse"
				type="client:ObterHistoricoDeOcorrenciasResponse" />

			<xsd:element name="DesfazerCancelamentoRequest" type="client:DesfazerCancelamentoRequest" />

			<xsd:element name="DesfazerCancelamentoResponse" type="client:DesfazerCancelamentoResponse" />

			<xsd:element name="AtivarLinhaRequest" type="client:AtivarLinhaRequest" />

			<xsd:element name="AtivarLinhaResponse" type="client:AtivarLinhaResponse" />

			<xsd:element name="TrocarNumeroRequest" type="client:TrocarNumeroRequest" />

			<xsd:element name="TrocarNumeroResponse" type="client:TrocarNumeroResponse" />

			<xsd:element name="VerificarStatusInadimplenteRequest"
				type="client:VerificarStatusInadimplenteRequest" />

			<xsd:element name="VerificarStatusInadimplenteResponse"
				type="client:VerificarStatusInadimplenteResponse" />

			<xsd:element name="ObterStatusDaPortabilidadeRequest"
				type="client:ObterStatusDaPortabilidadeRequest" />

			<xsd:element name="ObterStatusDaPortabilidadeResponse"
				type="client:ObterStatusDaPortabilidadeResponse" />

			<xsd:element name="PesquisarContratosRequest" type="client:PesquisarContratosRequest" />

			<xsd:element name="PesquisarContratosResponse" type="client:PesquisarContratosResponse" />

			<xsd:element name="ProvisionarRequest" type="client:ProvisionarRequest" />

			<xsd:element name="ProvisionarResponse" type="client:ProvisionarResponse" />

			<xsd:element name="CancelarContratoProspectRequest"
				type="client:CancelarContratoProspectRequest" />

			<xsd:element name="CancelarContratoProspectResponse"
				type="client:CancelarContratoProspectResponse" />

			<xsd:element name="ObterContratoRequest" type="client:ObterContratoRequest" />

			<xsd:element name="ObterContratoResponse" type="client:ObterContratoResponse" />

			<xsd:element name="NovoContratoRequest" type="client:NovoContratoRequest" />

			<xsd:element name="NovoContratoResponse" type="client:NovoContratoResponse" />

			<xsd:element name="NovoContratoComDependentesRequest"
				type="client:NovoContratoComDependentesRequest" />

			<xsd:element name="NovoContratoComDependentesResponse"
				type="client:NovoContratoComDependentesResponse" />


			<xsd:element name="AlterarCSP81Request" type="client:AlterarCSP81Request" />

			<xsd:element name="AlterarCSP81Response" type="client:AlterarCSP81Response" />

			<xsd:element name="ObterCSP81Request" type="client:ObterCSP81Request" />

			<xsd:element name="ObterCSP81Response" type="client:ObterCSP81Response" />

			<xsd:element name="AlterarSMSPromocionalRequest" type="client:AlterarSMSPromocionalRequest" />

			<xsd:element name="AlterarSMSPromocionalResponse" type="client:AlterarSMSPromocionalResponse" />

			<xsd:element name="ObterSMSPromocionalRequest" type="client:ObterSMSPromocionalRequest" />

			<xsd:element name="ObterSMSPromocionalResponse" type="client:ObterSMSPromocionalResponse" />


			<xsd:element name="AutorizarTrocarNumeroRequest" type="client:AutorizarTrocarNumeroRequest" />

			<xsd:element name="AutorizarTrocarNumeroResponse" type="client:AutorizarTrocarNumeroResponse" />


			<xsd:element name="SuspenderContratoInadimplenteParcialRequest"
				type="client:SuspenderContratoInadimplenteParcialRequest" />

			<xsd:element name="SuspenderContratoInadimplenteParcialResponse"
				type="client:SuspenderContratoInadimplenteParcialResponse" />

			<xsd:element name="AutorizarCancelarContratoRequest"
				type="client:AutorizarCancelarContratoRequest" />

			<xsd:element name="AutorizarCancelarContratoResponse"
				type="client:AutorizarCancelarContratoResponse" />


			<xsd:element name="AlterarDadosClienteProspectRequest"
				type="client:AlterarDadosClienteProspectRequest" />

			<xsd:element name="AlterarDadosClienteProspectResponse"
				type="client:AlterarDadosClienteProspectResponse" />


		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="AutorizarCancelarContratoRequest">
		<wsdl:part element="tns:AutorizarCancelarContratoRequest"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="PesquisarContratosRequest">
		<wsdl:part element="tns:PesquisarContratosRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DesfazerCancelamentoResponse">
		<wsdl:part element="tns:DesfazerCancelamentoResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="VerificarStatusInadimplenteResponse">
		<wsdl:part element="tns:VerificarStatusInadimplenteResponse"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SuspenderContratoResponse">
		<wsdl:part element="tns:SuspenderContratoResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterSMSPromocionalResponse">
		<wsdl:part element="tns:ObterSMSPromocionalResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AlterarCSP81Response">
		<wsdl:part element="tns:AlterarCSP81Response" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterStatusDaPortabilidadeRequest">
		<wsdl:part element="tns:ObterStatusDaPortabilidadeRequest"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterCSP81Request">
		<wsdl:part element="tns:ObterCSP81Request" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AlterarDadosClienteProspectRequest">
		<wsdl:part element="tns:AlterarDadosClienteProspectRequest"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterLinhasTempSuspensasResponse">
		<wsdl:part element="tns:ObterLinhasTempSuspensasResponse"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterHistoricoDeOcorrenciasRequest">
		<wsdl:part element="tns:ObterHistoricoDeOcorrenciasRequest"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AlterarSMSPromocionalResponse">
		<wsdl:part element="tns:AlterarSMSPromocionalResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DesbloquearContratoRequest">
		<wsdl:part element="tns:DesbloquearContratoRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="NovoContratoRequest">
		<wsdl:part element="tns:NovoContratoRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AutorizarTrocarNumeroRequest">
		<wsdl:part element="tns:AutorizarTrocarNumeroRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AtivarLinhaRequest">
		<wsdl:part element="tns:AtivarLinhaRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReativarContratoRequest">
		<wsdl:part element="tns:ReativarContratoRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarContratoResponse">
		<wsdl:part element="tns:CancelarContratoResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterHistoricoDeUsoRequest">
		<wsdl:part element="tns:ObterHistoricoDeUsoRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterHistoricoDeUsoResponse">
		<wsdl:part element="tns:ObterHistoricoDeUsoResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarContratoProspectResponse">
		<wsdl:part element="tns:CancelarContratoProspectResponse"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterHistoricoDeBloqueiosResponse">
		<wsdl:part element="tns:ObterHistoricoDeBloqueiosResponse"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterContratoRequest">
		<wsdl:part element="tns:ObterContratoRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AlterarSMSPromocionalRequest">
		<wsdl:part element="tns:AlterarSMSPromocionalRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DesfazerCancelamentoRequest">
		<wsdl:part element="tns:DesfazerCancelamentoRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterHistoricoDeBloqueiosRequest">
		<wsdl:part element="tns:ObterHistoricoDeBloqueiosRequest"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterLinhasRequest">
		<wsdl:part element="tns:ObterLinhasRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ProvisionarRequest">
		<wsdl:part element="tns:ProvisionarRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarContratoRequest">
		<wsdl:part element="tns:CancelarContratoRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarContratoProspectRequest">
		<wsdl:part element="tns:CancelarContratoProspectRequest"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AtivarLinhaResponse">
		<wsdl:part element="tns:AtivarLinhaResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterSMSPromocionalRequest">
		<wsdl:part element="tns:ObterSMSPromocionalRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AutorizarCancelarContratoResponse">
		<wsdl:part element="tns:AutorizarCancelarContratoResponse"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterContratoResponse">
		<wsdl:part element="tns:ObterContratoResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterCSP81Response">
		<wsdl:part element="tns:ObterCSP81Response" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SuspenderContratoInadimplenteParcialRequest">
		<wsdl:part element="tns:SuspenderContratoInadimplenteParcialRequest"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DesbloquearContratoResponse">
		<wsdl:part element="tns:DesbloquearContratoResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="NovoContratoComDependentesRequest">
		<wsdl:part element="tns:NovoContratoComDependentesRequest"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SuspenderContratoRequest">
		<wsdl:part element="tns:SuspenderContratoRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AutorizarTrocarNumeroResponse">
		<wsdl:part element="tns:AutorizarTrocarNumeroResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterHistoricoDeOcorrenciasResponse">
		<wsdl:part element="tns:ObterHistoricoDeOcorrenciasResponse"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ProvisionarResponse">
		<wsdl:part element="tns:ProvisionarResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterLinhasResponse">
		<wsdl:part element="tns:ObterLinhasResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReativarContratoResponse">
		<wsdl:part element="tns:ReativarContratoResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="TrocarNumeroResponse">
		<wsdl:part element="tns:TrocarNumeroResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="PesquisarContratosResponse">
		<wsdl:part element="tns:PesquisarContratosResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="NovoContratoResponse">
		<wsdl:part element="tns:NovoContratoResponse" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="NovoContratoComDependentesResponse">
		<wsdl:part element="tns:NovoContratoComDependentesResponse"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SuspenderContratoInadimplenteParcialResponse">
		<wsdl:part element="tns:SuspenderContratoInadimplenteParcialResponse"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AlterarDadosClienteProspectResponse">
		<wsdl:part element="tns:AlterarDadosClienteProspectResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="TrocarNumeroRequest">
		<wsdl:part element="tns:TrocarNumeroRequest" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterLinhasTempSuspensasRequest">
		<wsdl:part element="tns:ObterLinhasTempSuspensasRequest"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AlterarCSP81Request">
		<wsdl:part element="tns:AlterarCSP81Request" name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="VerificarStatusInadimplenteRequest">
		<wsdl:part element="tns:VerificarStatusInadimplenteRequest"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AutorizarSuspensaoTemporariaResponse">
		<wsdl:part element="tns:AutorizarSuspensaoTemporariaResponse"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AutorizarSuspensaoTemporariaRequest">
		<wsdl:part element="tns:AutorizarSuspensaoTemporariaRequest"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ObterStatusDaPortabilidadeResponse">
		<wsdl:part element="tns:ObterStatusDaPortabilidadeResponse"
			name="payload">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GerenciarContratosService">
		<wsdl:operation name="AlterarCSP81">
			<wsdl:input message="tns:AlterarCSP81Request">
			</wsdl:input>
			<wsdl:output message="tns:AlterarCSP81Response">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterCSP81">
			<wsdl:input message="tns:ObterCSP81Request">
			</wsdl:input>
			<wsdl:output message="tns:ObterCSP81Response">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AlterarSMSPromocional">
			<wsdl:input message="tns:AlterarSMSPromocionalRequest">
			</wsdl:input>
			<wsdl:output message="tns:AlterarSMSPromocionalResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterSMSPromocional">
			<wsdl:input message="tns:ObterSMSPromocionalRequest">
			</wsdl:input>
			<wsdl:output message="tns:ObterSMSPromocionalResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterHistoricoDeUso">
			<wsdl:input message="tns:ObterHistoricoDeUsoRequest">
			</wsdl:input>
			<wsdl:output message="tns:ObterHistoricoDeUsoResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterHistoricoDeBloqueios">
			<wsdl:input message="tns:ObterHistoricoDeBloqueiosRequest">
			</wsdl:input>
			<wsdl:output message="tns:ObterHistoricoDeBloqueiosResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DesbloquearContrato">
			<wsdl:input message="tns:DesbloquearContratoRequest">
			</wsdl:input>
			<wsdl:output message="tns:DesbloquearContratoResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReativarContrato">
			<wsdl:input message="tns:ReativarContratoRequest">
			</wsdl:input>
			<wsdl:output message="tns:ReativarContratoResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SuspenderContrato">
			<wsdl:input message="tns:SuspenderContratoRequest">
			</wsdl:input>
			<wsdl:output message="tns:SuspenderContratoResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AutorizarSuspensaoTemporaria">
			<wsdl:input message="tns:AutorizarSuspensaoTemporariaRequest">
			</wsdl:input>
			<wsdl:output message="tns:AutorizarSuspensaoTemporariaResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelarContrato">
			<wsdl:input message="tns:CancelarContratoRequest">
			</wsdl:input>
			<wsdl:output message="tns:CancelarContratoResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterLinhasTempSuspensas">
			<wsdl:input message="tns:ObterLinhasTempSuspensasRequest">
			</wsdl:input>
			<wsdl:output message="tns:ObterLinhasTempSuspensasResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterLinhas">
			<wsdl:input message="tns:ObterLinhasRequest">
			</wsdl:input>
			<wsdl:output message="tns:ObterLinhasResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterHistoricoDeOcorrencias">
			<wsdl:input message="tns:ObterHistoricoDeOcorrenciasRequest">
			</wsdl:input>
			<wsdl:output message="tns:ObterHistoricoDeOcorrenciasResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DesfazerCancelamento">
			<wsdl:input message="tns:DesfazerCancelamentoRequest">
			</wsdl:input>
			<wsdl:output message="tns:DesfazerCancelamentoResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AtivarLinha">
			<wsdl:input message="tns:AtivarLinhaRequest">
			</wsdl:input>
			<wsdl:output message="tns:AtivarLinhaResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TrocarNumero">
			<wsdl:input message="tns:TrocarNumeroRequest">
			</wsdl:input>
			<wsdl:output message="tns:TrocarNumeroResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VerificarStatusInadimplente">
			<wsdl:input message="tns:VerificarStatusInadimplenteRequest">
			</wsdl:input>
			<wsdl:output message="tns:VerificarStatusInadimplenteResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterStatusDaPortabilidade">
			<wsdl:input message="tns:ObterStatusDaPortabilidadeRequest">
			</wsdl:input>
			<wsdl:output message="tns:ObterStatusDaPortabilidadeResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PesquisarContratos">
			<wsdl:input message="tns:PesquisarContratosRequest">
			</wsdl:input>
			<wsdl:output message="tns:PesquisarContratosResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Provisionar">
			<wsdl:input message="tns:ProvisionarRequest">
			</wsdl:input>
			<wsdl:output message="tns:ProvisionarResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelarContratoProspect">
			<wsdl:input message="tns:CancelarContratoProspectRequest">
			</wsdl:input>
			<wsdl:output message="tns:CancelarContratoProspectResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterContrato">
			<wsdl:input message="tns:ObterContratoRequest">
			</wsdl:input>
			<wsdl:output message="tns:ObterContratoResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NovoContrato">
			<wsdl:input message="tns:NovoContratoRequest">
			</wsdl:input>
			<wsdl:output message="tns:NovoContratoResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NovoContratoComDependentes">
			<wsdl:input message="tns:NovoContratoComDependentesRequest">
			</wsdl:input>
			<wsdl:output message="tns:NovoContratoComDependentesResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AutorizarTrocarNumero">
			<wsdl:input message="tns:AutorizarTrocarNumeroRequest">
			</wsdl:input>
			<wsdl:output message="tns:AutorizarTrocarNumeroResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SuspenderContratoInadimplenteParcial">
			<wsdl:input message="tns:SuspenderContratoInadimplenteParcialRequest">
			</wsdl:input>
			<wsdl:output message="tns:SuspenderContratoInadimplenteParcialResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AutorizarCancelarContrato">
			<wsdl:input message="tns:AutorizarCancelarContratoRequest">
			</wsdl:input>
			<wsdl:output message="tns:AutorizarCancelarContratoResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AlterarDadosClienteProspect">
			<wsdl:input message="tns:AlterarDadosClienteProspectRequest">
			</wsdl:input>
			<wsdl:output message="tns:AlterarDadosClienteProspectResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GerenciarContratosSoapHttp" type="tns:GerenciarContratosService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AlterarCSP81">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/AlterarCSP81" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterCSP81">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/ObterCSP81" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AlterarSMSPromocional">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/AlterarSMSPromocional" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterSMSPromocional">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/ObterSMSPromocional" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterHistoricoDeUso">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/ObterHistoricoDeUso" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterHistoricoDeBloqueios">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/ObterHistoricoDeBloqueios" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DesbloquearContrato">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/DesbloquearContrato" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReativarContrato">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/ReativarContrato" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SuspenderContrato">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/SuspenderContrato" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AutorizarSuspensaoTemporaria">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/AutorizarSuspensaoTemporaria" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelarContrato">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/CancelarContrato" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterLinhasTempSuspensas">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/ObterLinhasTempSuspensas" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterLinhas">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/ObterLinhas" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterHistoricoDeOcorrencias">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/ObterHistoricoDeOcorrencias" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DesfazerCancelamento">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/DesfazerCancelamento" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AtivarLinha">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/AtivarLinha" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TrocarNumero">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/TrocarNumero" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VerificarStatusInadimplente">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/VerificarStatusInadimplente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterStatusDaPortabilidade">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/ObterStatusDaPortabilidade" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PesquisarContratos">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/PesquisarContratos" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Provisionar">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/Provisionar" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelarContratoProspect">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/CancelarContratoProspect" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObterContrato">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/ObterContrato" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NovoContrato">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/NovoContrato" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NovoContratoComDependentes">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/NovoContratoComDependentes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AutorizarTrocarNumero">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/AutorizarTrocarNumero" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SuspenderContratoInadimplenteParcial">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/SuspenderContratoInadimplenteParcial" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AutorizarCancelarContrato">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/AutorizarCancelarContrato" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AlterarDadosClienteProspect">
			<soap:operation
				soapAction="http://portoconecta.com.br/services/GerenciarContratosService/AlterarDadosClienteProspect" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GerenciarContratos">
		<wsdl:port binding="tns:GerenciarContratosSoapHttp" name="GerenciarContratosService">
			<soap:address
				location="http://frameworkh.portoseguroconecta.com.br/GerenciarContratosService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>