amq7-to-ibmmq-camel-bridge/src/main/resources/schema/bridges.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Tue Feb 14 2017 17:22:51 GMT-0200 (BRST) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="bridges">
           <xs:complexType>
                  <xs:sequence>
                         <xs:element name="bridge" maxOccurs="unbounded">
                                <xs:complexType>
                                       <xs:sequence>
                                              <xs:element name="from" type="xs:string"></xs:element>
                                              <xs:element name="to" type="xs:string"></xs:element>
                                              <xs:element name="messagesPerSecond" type="xs:int"></xs:element>
                                          </xs:sequence>
                                   </xs:complexType>
                            </xs:element>
                     </xs:sequence>
              </xs:complexType>
       </xs:element>
</xs:schema>